body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; 
    margin: 0;
}
.flex-display{
    width: 100%;
    display: flex;
}
.intro-bg-img{
    background-image: url(images/bg1.png);
    background-repeat: no-repeat;
}
h1{
    font-weight: 700;
    font-size: 45px;
    color: gray;
}
.half-width{
    width: 50%;
    padding: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.half-width img{
    width: 100%;
}
.orange-color{
    color: orange;
}
.button-link{
    color: white;
    background-image:linear-gradient(orange,tomato);
    padding: 15px 40px;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 10px 5px 5px gray;
}
#about-me-img-width{
    width: 70%;
    padding-left: 80px;
}
.about-me-bg-img{
    background-image: url(images/about-me-bg.jpg);
    background-repeat: no-repeat;
}
#recipies-textstyle{
    text-align: center;
}
.first-recipie-width{
    width: 33%;
    padding: 10px;
    border-radius: 20px;
    margin: 50px;
    box-shadow: 10px 5px 30px gray;
    
}
.second-recipie-width{
    width: 33%;
    padding: 10px;
    border-radius: 20px;
    margin: 50px;
    box-shadow: 10px 5px 30px gray;
    
}
.third-recipie-width{
    width: 33%;
    padding: 10px;
    border-radius: 20px;
    margin: 50px;
    box-shadow: 10px 5px 30px gray;
}
.first-recipie-width img{
    width: 100%;
}
.second-recipie-width img{
    width: 100%;

} 
.third-recipie-width img{
    width: 100%;

} 
footer{
    background-color: black;
    color: gray;
    text-align: center;
    padding: 50px;
}
